.root {
  padding-left: 13px;
}
.title-block {
  width: 100%;
  display: inline-block;
}
.title-block:hover {
  background-color: rgb(255, 247, 231);
  color: rgb(245, 60, 50);
}
.icon-block {
  width: 100px;
  float: right;
  text-align: right;
}

.tree-container {
  width: 300px;
}
.icon-block span {
  padding: 0 3px;
  outline: none;
}

.searchVal-class {
  color: rgb(245, 60, 50);
}
